@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 247, 247, 247;
    --point: 38, 203, 77;
    --gliter: linear-gradient(135deg, #ffd700, #ff69b4);
}

body {
    background-color: rgba(var(--background-rgb));
    color: rgb(var(--foreground-rgb));
}

@layer utilities {
    .title {
        @apply text-2xl font-semibold;
    }
    .day {
        @apply bg-gray-300 rounded-3xl flex justify-center items-center text-white/70 aspect-square;
    }
}
